# --- Python & Poetry ---
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
.env
.venv/
dist/
build/
*.egg-info/

# --- IDE ---
.vscode/
.idea/
*.swp

# --- Local data ---
outputs/
pgdata/
*.db

# --- Dictionaries (huge) ---
SecLists/
PayloadsAllTheThings/
fuzzdb/

# --- Docker ---
*.pid
*.sock
docker-compose.override.yml

# --- OS ---
.DS_Store
Thumbs.db


